<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>My To-do</title>
</head>

<body style="background-color: #FFDCDA;">
    </nav>
    <div style='border-radius: 20px;' class="card shadow my-5 mx-5">
        <h1 style="background-color: #DAFDFF;border-radius: 20px;" class="card-header fw-light">Update Your Todo</h1>

        <div class="card-body">
            <form action='/update/{{ todo.id }}' method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">To-do Title</label>
                    <input name="title" value="{{ todo.title }}" id='title' class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">To-do Description</label>
                    <input name="description" value="{{ todo.description }}" id="decription" class="form-control"
                        required>
                </div>
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
        </div>

    </div>